body {
    background-color: #f8f9fa;
}

#taskForm .row {
    display: flex;
    align-items: center;
}

.task-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item div {
    flex: 1;
    padding: 5px;
}

.task-item .remove-task {
    color: red;
    cursor: pointer;
}
